html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
ul {
    margin: 0;
}
.active {
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 0, 0.637);
}

li {
    display: inline-block;
    height: 30px;
    margin-left: 20px;
}
li a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: rgba(0, 0, 0, 0.83);
}

img {
    width: 100%;
    height: 300px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;

  }

.card{
    margin: 0;

}
  .footer{
    background-color: rgba(139, 139, 20, 0.586);
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
  }
  p button {
    background: black;
    color: white;
    width: 100%;
  }
  p {
    margin: 0;
  }
  .title{
    margin-bottom: 10px;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .popup img{ width: 100%;}
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {color: #06D85F;}
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  